<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books - Login</title>
        <link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/login.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <script src="js/cookie-util.js"></script>
        <script src="js/login.js"></script>
    </head>
    <body>
        <h1 id="title-text">Ryan's Books</h1>
        <div id="login-form">
            <h2 id="login-title">User Login</h2>
            <label for="username">Username</label>
            <input type="text", name="username", id="form-username" />
            <label for="password">Password</label>
            <input type="password", name="password", id="form-password" />
            <p id="register-text">Don't have an account? <a id="register-button" href="register">Register</a></p>
            <div id="button-panel">
                <p id="login-submit-button">Login</p>
                <p id="cancel-button">Cancel</p>
            </div>
        </div>
    </body>
</html>