@media (max-width: 799px)
{
    #table
    {
        width: 95%;
    }

    #table-controls
    {
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
    }

    #searchbar
    {
        width: 100%;
    }

    .control-button
    {
        width: 100px;
    }
}

@media (min-width: 800px)
{
    #table
    {
        width: 40%;
    }

    #searchbar
    {
        width: 400px;
    }
}

#table-controls
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#searchbar
{
    padding: 10px;
    background-color:#242424;
    border: 1px solid #32333d;
    border-radius: 5px;
    color: white;
    outline: none;
}

.control-button
{
    color: white;
    margin-left: 10px;
    padding: 9px 15px;
    border: 1px solid #3c3363;
    border-radius: 5px;
    font-family: OpenSansRegular;
    font-size: 13px;
    cursor:pointer;
}

.control-button:hover
{
    background-color:#3c3363;
}

#back-button
{
    color: white;
    font-family: OpenSansRegular;
    padding: 7px 13px;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 12px;
}

#back-button:hover
{
    background-color: grey;
    color:rgb(31, 31, 31);
    cursor: pointer;
}

/* start */

.overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-dialog-box
{
    background-color: rgb(31, 31, 31);
    color: white;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 150px;
}

.overlay-title
{
    font-family: OpenSansSemibold;
    font-size: 18px;
    text-align: center;
    padding: 20px 20px 0 20px;
}

.overlay-subtitle
{
    font-family: OpenSansRegular;
    font-size: 13px;
    text-align: center;
    color: grey;
}

.overlay-dialog-box label
{
    display: block;
    font-family: OpenSansRegular;
    font-size: 12px;
    margin-left: 15%;
}

.overlay-dialog-box input
{
    font-family: OpenSansRegular;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(41, 41, 53);
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    margin-left: 15%;
    color: white;
    margin-bottom: 10px;
}

.overlay-button-panel
{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 20px;
}

.overlay-button
{
    display: inline;
    font-family: OpenSansRegular;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    padding: 5px 0;
    width: 70px;
    text-align: center;
}

#CO-submit-button
{
    border: 1px solid rgb(35, 107, 35);
}

#CO-submit-button:hover
{
    background-color: rgb(35, 107, 35);
    cursor: pointer;
}

#CO-cancel-button, #EO-cancel-button, #EO-delete-button
{
    border: 1px solid rgb(107, 35, 35);
}

#CO-cancel-button:hover, #EO-cancel-button:hover, #EO-delete-button:hover
{
    background-color: rgb(107, 35, 35);
    cursor: pointer;
}

#table
{
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    color: white;
    margin: auto;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 40px;
    flex-grow: 1;
}

.table-entry
{
    display: flex;
}

.table-entry:nth-child(even)
{
    background-color:rgb(36, 36, 36);
}

.book-title, .book-author
{
    padding: 0 20px;
    width: 50%;
    font-family: OpenSansRegular;
    font-size: 13px;
}